@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Homemade+Apple&family=Vina+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}

body{
   background-color: #000;
}

.wrapper{
  display: flex;
}

.sidebar{
  width: 230px;
  height: 100%;
  background-color: #000;
  background:url('px1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
  position: fixed;
  border-right:1px solid #ccef7b;
}

.sidebar img{
  height: 100px;
  padding-bottom:10px;
  margin-left:28px;
  margin-bottom: 40px;
}

.sidebar ul li{
  padding: 10px 10px;
  margin-bottom:5px;
  border-radius:10px;
  background-color:rgba(194, 198, 255, 0.4);
}    

.sidebar ul li a{
  color: #fff;
  font-size:15px;
  display: block;
}


.fas{
  width: 25px;
}

.sidebar ul li:hover{
  cursor:pointer;
  border:2px solid #c2c6ff;
}

.sidebar .spotlight{
  background-color:rgba(255, 255, 255, 0.7);
  border:2px solid #c2c6ff;
}

.sidebar .spotlight a{
  color:#000;
}

.spotlight:hover{
  background-color:rgba(255, 255, 255, 0.7);
  border:2px solid #c2c6ff;
}

.sidebar .profile{
  height:70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  font-size:15px;
  border-radius:5px;
  background-color:rgba(255, 255, 255, 0.4);
  padding:10px 10px;
  gap:10px;
}

.sidebar .profile .pfp{
  height:50px;
  width:50px;
  border-radius:7px;
  background:#000;
  background-image:url("prof.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar .profile a{
  border:1px solid #fff;
  border-top:2px;
  border-bottom:2px;
  border-radius:2px;
  color:#fff;
  height:26px;
  width:25px;
}

.sidebar .profile a:hover{
  border:2px solid #fff;
  cursor:pointer;
}

.sub{
  color:#d1d1d1;
}

.logout{
  background:#fff;
  padding-bottom:6px;
  background-image:url("logout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 230px;
}

.main_content .header{
  background-color: #000;
  background:url("pxc1.jpg");
  padding-left:40px;
  padding-top:7px;
  color: #ccef7b;
  height:80px;
  font-family:'Vina Sans', cursive;
  font-size:50px;
}

.header span{
  font-family:'Vina Sans', cursive;
  color: #c2c6ff;
}

.main_content .info{
  color: #000;
  padding:10px;
  border-top:2px solid #000;
}

.info div{
  margin-bottom: 20px;
}

.holder{
  background-color:rgba(255,255,255,0.6);
  padding:20px;
  border-radius:5px;
}

.sec1{
  background-color:#c2c6ff;
  color:#000;
  font-size:20px;
  border-radius:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
}

.sec2{
  background-image:url("diet.png");
  background-size:cover;
  background-repeat:no-repeat;
  color:#000;
  font-size:20px;
  border-radius:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
  text-align:center;
}

.box{
  padding:20px;
  color:#000;
  background-color:#c2c6ff;
  font-size:20px;
  border-radius:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
}

.heading{
  font-family:'Playfair';
  font-size:25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons{
  margin:100px;
  margin-top:20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

button{
  padding:10px;
  border-radius:5px;
  height:40px;
  width:210px;
  background-color:#ccef7b;
  color:#000
  transition:0.5s ease;
}

button:hover{
  background-color: #9cde02;
  cursor:pointer;
}

.impbutton{
  background-color:#ff5252;
}

.impbutton:hover{
  background-color: #fb2d2d;
}

.xbutton{
  background-color:#000;
  color:#fff;
  width:350px;
}

.xbutton:hover{
  background-color:#000;
  border:2px solid #ccef7b;
}

table, th, td {
  border:1px solid black;
}

.font1{
   font-family:Playfair;
   font-size: 40px;
   margin-bottom:20px;
}

.tabled {
  text-align:center ;
  padding: 30px; 
}

.exercise{
  border:2px solid #000;
  background:rgba(255,255,255,0.7);
  border-radius:5px;
  padding:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.labeltxt{
  margin-top:15px;
}