html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #000;
  background-image: url("px1.jpg");
  background-size: cover;
  background-position: centre;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  text-align: center;
  padding-bottom: 20px;
}

.hd {
  color: #ccef7b;
}

form {
  background-color: #a8abe1;
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  text-align: left;
  margin-bottom: 25px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  background-color: #d1d4ff;
  font-family: 'poppins', sans-serif;
  padding: 10px;
  display: block;
  width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

button {
  background-color: #d1d4ff;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #8e93dc;
}