{%extends "base.html"%}
{%block title%}Fitx | Diets{%endblock%}
{%block header%}<span>Diet</span> Plans{%endblock%}
{%block content%}

<div class="sec2">
<section class="holder">
<p class="heading">{%block hding%} DIET PLAN FOR WEIGHTLOSS {%endblock%}</p>
<p class="info">
{%block details%}
This is a structured eating plan designed to help individuals shed excess pounds and achieve a healthier body weight. It typically involves calorie reduction, portion control, and the selection of nutritious foods to create a sustainable calorie deficit. This introduction outlines the primary goal and methods of a weight loss diet.
{%endblock%}</p><br>
{%block xbutton%}
<a href="/dietdetails?diet=diet1"><button class= "xbutton">VIEW DIET PLAN</button></a>
{%endblock%}
</p></section>
</div>

{%block rest%}
<div class="sec2">
<section class ="holder">  
 <p class="heading"> DIET PLAN FOR MUSCLE BUILDING</p>
<p class="info">This is a dietary plan tailored to support the growth and development of muscle mass. It prioritizes a higher caloric intake, increased protein consumption, and specific macronutrient ratios to provide the body with the necessary resources for muscle hypertrophy. This introduction introduces the purpose and key principles of a muscle gain diet.</p><br>
<a href="/dietdetails?diet=diet2"><button class= "xbutton">VIEW DIET PLAN</button></a>
</section></div>

<div class="sec2">
<section class ="holder">
 <p class="heading"> DIET PLAN FOR ELDERLY</p>
<p class="info"> This is a specialized eating plan designed to meet the nutritional needs of older individuals. This introduction outlines the importance of tailored dietary choices for the elderly, taking into account their unique health considerations and requirements to support overall well-being in later life</p><br>
<a href="/dietdetails?diet=diet3"><button class= "xbutton">VIEW DIET PLAN</button></a>
</section></div>
{%endblock%}
{%endblock%}