<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FitX </title>
  
  <style>
    body{
      background-image: url("static/p5.jpg");
    }
    .picbox1{
      background-image: url("static/p1.jpg");
    }
    .picbox1{
      background-image: url("static/p4.jpg");
    }
    .horizontal-frame{
      background-image: url('p2.jpg');
    }
  </style>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <div class="logo">
      <img src="static/logox.png" alt="FITX">
    </div>
    <nav>
      <ul class="navbar">
        <li><a class="navlg" href="{{url_for('login')}}">LOGIN</a></li>
        <li><a class="navcu" href="#ContactUs">CONTACT US</a></li>
      </ul>
    </nav>
  </header>

  <div class="contentstuff">

    <div class="content">
      <h1 class="mainhd"> <span class="diff1">Ready </span> to <span class="yellow-cursive">rewrite </span> your <span
          class="diff">fitness </span> story <span class="diff">? </span> </h1>
      <p>We believe that fitness should be fun, vibrant, and filled with joy. Say goodbye to monotonous routines and
        brace
        yourself for an exhilarating journey where every step is a dance, every rep, an adventure and every workout, a
        party. Join us and let's create a plotline packed with personal records, newfound energy, and a ton of
        fist-pumping celebrations! </p>
      <a href="{{url_for('signup')}}" class="cta1">SIGN UP</a>
    </div>

    <div class="imgholder">
      <div class="picbox1">
      </div>
      <div class="picbox2">
      </div>
    </div>
  </div>

  <div class="horizontal-frame">
    <h1 class="tst" id="ContactUs"><br>WANT TO REACH OUT?</h1>
    <p class="tstc">We'd love to hear from you! If you have any questions, inquiries or feedback, our friendly customer
      support representatives are available during business hours to provide prompt assistance and address any concerns
      you may have. We value your input and strive to ensure your experience with us is nothing short of exceptional.
    </p>
    <p class="tstc">Email us at customersupport.fitx@gmail.com and we will get back to you as soon as possible.</p>
  </div>

</body>

</html>